.encabezado{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(26, 2, 2,0.844);
    position: sticky;
    box-sizing: border-box;
}
.logo{
    width: 240px;
    height: auto;
    margin: 0px;
    padding: 0px;
    border-radius: 0px 0px 5px 0px;
    position: fixed;
}
#titulo{
    margin-top: 25px;
    padding: 25px 0px 0px 0px;
    font-size: 28px;
    text-align: center;
    color: rgba(255, 0, 0, 1);
    font-weight: bold;
}
.encabezado .contenedorTitulo{
    width: 14%;
    height: 38px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.barraNavegacion{
    width: 100%;
    margin-right: 15px;
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
nav ul li{
    padding-left: 10px;
    list-style: none;
    display: inline;
    font-size: 20px;
    color:aliceblue;
    text-transform: capitalize;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 6px;
}
nav ul li a{ 
    color: white;
    text-decoration: none;
}
li:hover{
    background-color: rgba(183, 106, 106, .4);
}
a:hover{
    color: white;
}